{%load static%}

<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.js' %}"></script>
<script src="{% static 'assets/js/core/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>

<!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>

<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/material-kit.js' %}" type="text/javascript"></script>

<!-- select2 -->
<script src="{% static 'assets/js/varios/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/varios/DateTimePicker.min.js' %}"></script>
<script src="{% static 'assets/js/varios/DateTimePicker-i18n.js' %}"></script>
<script src="{% static 'assets/js/varios/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/varios/JsBarcode.all.min.js' %}"></script>
<script src="{% static 'assets/js/varios/jquery.mask.min.js' %}"></script>
<script src="{% static 'assets/js/varios/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'assets/js/varios/jquery-dropdown-datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/varios/loadingOverlay.js' %}"></script>

<!-- necesarios para todo el proyecto -->
<script src="{% static 'assets/js/varios/necesarios.js' %}"></script>
