{% extends "layouts/base.html" %}

{% block title %} Modificar Empresa {% endblock %}

{% block main-content %}
    <div class="card card-principal">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Modificar empresa</h4>
        </div>
        <div class="card-body">
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" name="register" class="btn btn-primary pull-left">Confirmar</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endblock main-content %}

{% block scripts %}
    <script>
        $('.timepicker').timepicker({'step': 30,
                                      'timeFormat': 'H:i',
                                      'useSelect': true
                                    })
        $('.ui-timepicker-select').addClass('form-control')
    </script>
{% endblock %}

{% block chatbot-content %}{% endblock %}
