{% load static %}

<li>
    <a href="#">
        <img src="{% static 'assets/img/icons-1@4x.png' %}" style="width: 32px" alt=""><span>Asignación</span>
    </a>
</li>
<li>
    <a href="#">
        <img src="{% static 'assets/img/icons-4@4x.png' %}" style="width: 32px" alt=""><span>Recupero</span>
    </a>
</li>
<li>
    <a href="#">
        <img src="{% static 'assets/img/icons-7@4x.png' %}" style="width: 32px" alt=""><span>Calidad</span>
    </a>
</li>
<li>
    <a href="#">
        <img src="{% static 'assets/img/icons-10@4x.png' %}" style="width: 32px" alt=""><span>Análisis</span>
    </a>
</li>
